.new-contact-card {
  min-width: 500px;
  max-width: 800px;

  .new-contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    button {
      align-self: flex-end;
    }
  }

  .new-contact-full-width {
    width: 100%;
  }

}
